[submodule "nvim/plugged/auto-pairs"]
	path = nvim/plugged/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "nvim/plugged/vim-cpp-modern"]
	path = nvim/plugged/vim-cpp-modern
	url = https://github.com/bfrg/vim-cpp-modern
[submodule "nvim/plugged/vim-javascript"]
	path = nvim/plugged/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "nvim/plugged/vim-jsx"]
	path = nvim/plugged/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule "fonts/ctrld-font"]
	path = fonts/ctrld-font
	url = https://github.com/bjin/ctrld-font
