# PRIORITY ====================================================================
priority 1

# PREAMBLE ====================================================================
snippet up "\usepackage" b
\usepackage{${1}}
endsnippet

snippet Up "\usepackage w/ opt" b
\usepackage[${1}]{${2}}
endsnippet
